@import "variables";

.silc-accordion {
	padding: $silc-accordion-padding;
	margin: $silc-accordion-margin;
}

.silc-accordion__nav {

	.js & {
		display: none;
	}
}

.silc-accordion__nav-items {
	
	.js & {
		display: $silc-accordion__nav-items-display;
		margin: $silc-accordion__nav-items-margin;
		padding: $silc-accordion__nav-items-padding;
		list-style: none;
	}
}

.silc-accordion__nav-item {

	.silc-accordion__nav-items--stretch & {

		.js & {
			flex: 1 auto;
		}
	}
}

.silc-accordion__nav-link {
	
	&--active {
		color: $silc-accordion__nav-link--active-color;
		background: $silc-accordion__nav-link--active-background;
	}
}

.silc-accordion__label {
	display: $silc-accordion__label-display;
	margin: $silc-accordion__label-margin;
	padding: $silc-accordion__label-padding;
	border: $silc-accordion__label-border;
	background: $silc-accordion__label-background;
	color: $silc-accordion__label-color;
	text-decoration: $silc-accordion__label-text-decoration;
	text-transform: $silc-accordion__label-text-transform;

	&:hover {
		background: $silc-accordion__label--hover-background;
		color: $silc-accordion__label--hover-color;
	}

	.js & {
		cursor: pointer;
	}

	&--active {
		color: $silc-accordion__label--active-color;
		background: $silc-accordion__label--active-background;

		&:hover {
			color: $silc-accordion__label--active-color;
			background: $silc-accordion__label--active-background;
		}
	}
}

.silc-accordion__content {
	border: $silc-accordion__content-border;
	padding: $silc-accordion__content-padding;  
	background: $silc-accordion__content-background;

	.js & {
		display: none;

		&--visible {
			display: block;
		}
	}
}
	

/*
 * Tabs
 *
 */
 
.silc-accordion--tabs {
	
	.silc-accordion__nav {
		display: block;
	}

	.silc-accordion__header {

		.js & {
			display: none;
		}
	}

	.silc-accordion__content--visible-persist {
		display: block;
  }
  
  // Accordion within tabs
  .silc-accordion {

    .silc-accordion__header {

      .js & {
        display: block;
      }
    }
  }
}


/*
 * Become Tabs
 *
 */

@media (min-width:$silc-accordion--become-tabs) {

	.silc-accordion--become-tabs {

		.silc-accordion__nav {
			display: block;
		}

		.silc-accordion__content--visible {
			display: none;
		}

		.silc-accordion__content--visible-persist {
			display: block;
		}

		.silc-accordion__header {

			.js & {
				display: none;
			}
    }
    
    // Accordion within tabs
    .silc-accordion {

      .silc-accordion__header {

        .js & {
          display: block;
        }
      }

      .silc-accordion__content--visible {
        display: block;
      }
    }
	}
}
