@import "variables";

.silc-accordion {
	padding: $silc-accordion-padding;
	margin: $silc-accordion-margin;
}

.silc-accordion__label {
	display: $silc-accordion__label-display;
	margin: $silc-accordion__label-margin;
	padding: $silc-accordion__label-padding;
	border: $silc-accordion__label-border;
	background: $silc-accordion__label-background;
	color: $silc-accordion__label-color;
	text-decoration: $silc-accordion__label-text-decoration;
	text-transform: $silc-accordion__label-text-transform;

	&:hover {
		background: $silc-accordion__label--hover-background;
		color: $silc-accordion__label--hover-color;
	}

	&[aria-expanded="true"] {
		color: $silc-accordion__label--active-color;
		background: $silc-accordion__label--active-background;

		&:hover {
			color: $silc-accordion__label--active-color;
			background: $silc-accordion__label--active-background;
		}
	}

	&[role="tab"] {
		&[aria-selected="true"] {
			color: $silc-accordion__tab--active-color;
			background: $silc-accordion__tab--active-background;
		}
	}
}

.silc-accordion__content {
	body:not(.js) & {
		display: none;
		&:target {
			display: block;
		}
	}

	.js & {
		height: 0;
		overflow: hidden;
		transition: height $silc-accordion__content-slide-duration $silc-accordion__content-slide-easing;

		&[aria-hidden="false"] {
			height: auto;
		}
	}
}

.silc-accordion__content-compartment {
	border: $silc-accordion__content-border;
	padding: $silc-accordion__content-padding;
	background: $silc-accordion__content-background;
}
	

/*
 * Tabs
 *
 */
 
.silc-accordion--tabs,
.silc-accordion--become-tabs {
  
  // Accordion within tabs
  .silc-accordion {

    .silc-accordion__header {

      .js & {
        display: block;
      }
    }
  }
}

.silc-accordion__tablist {
	display: $silc-accordion__tablist-display;
	margin: $silc-accordion__tablist-margin;
	padding: $silc-accordion__tablist-padding;
	.silc-accordion--stretch-tabs & {
		.silc-accordion__label {
			flex-basis: 100%;
			flex: 1;
			flex: 1;
		}
	}
}

/*
 * Become Tabs
 *
 */

.silc-accordion--become-tabs {
	// Hidden visually and from screenreaders, only used by JS to determine when tabs should be activated
	&:before {
		content: '#{$silc-accordion--become-tabs}';
		display: none;
	}
}

// @media (min-width:$silc-accordion--become-tabs) {

// 	.silc-accordion--become-tabs {
// 		.silc-accordion__nav {
// 			display: block;
// 		}

// 		.silc-accordion__content--visible {
// 			display: none;
// 		}

// 		.silc-accordion__content--visible-persist {
// 			display: block;
// 		}

// 		.silc-accordion__header {

// 			.js & {
// 				display: none;
// 			}
//     }
    
//     // Accordion within tabs
//     .silc-accordion {

//       .silc-accordion__header {

//         .js & {
//           display: block;
//         }
//       }

//       .silc-accordion__content--visible {
//         display: block;
//       }
//     }
// 	}
// }
