@import "variables";

.silk-accordion {
	padding: $silk-accordion-padding;
	margin: $silk-accordion-margin;
}

.silk-accordion__nav {

	.js & {
		display: none;
	}
}

.silk-accordion__nav-items {
	
	.js & {
		display: $silk-accordion__nav-items-display;
		margin: $silk-accordion__nav-items-margin;
		padding: $silk-accordion__nav-items-padding;
		list-style: none;
	}
}

.silk-accordion__label {
	display: $silk-accordion__label-display;
	margin: $silk-accordion__label-margin;
	padding: $silk-accordion__label-padding;
	border: $silk-accordion__label-border;
	background: $silk-accordion__label-background;
	color: $silk-accordion__label-color;
	text-decoration: $silk-accordion__label-text-decoration;
	text-transform: $silk-accordion__label-text-transform;

	&:hover {
		background: $silk-accordion__label--hover-background;
		color: $silk-accordion__label--hover-color;
	}

	.js & {
		cursor: pointer;
	}
}

.silk-accordion__content {
	border: $silk-accordion__content-border;
	padding: $silk-accordion__content-padding;  
	background: $silk-accordion__content-background;

	.js & {
		display: none;

		&--visible {
			display: block;
		}
	}
}
	

/*
 * Tabs
 *
 */
.silk-accordion--tabs {
	
	.silk-accordion__nav {
		display: block;
	}

	.silk-accordion__header {

		.js & {
			display: none;
		}
	}

	.silk-accordion__content--visible-persist {
		display: block;
	}
}


/*
 * Become Tabs
 *
 */

@media (min-width:$silk-accordion--become-tabs) {

	.silk-accordion--become-tabs {

		.silk-accordion__nav {
			display: block;
		}

		.silk-accordion__content--visible {
			display: none;
		}

		.silk-accordion__content--visible-persist {
			display: block;
		}

		.silk-accordion__header {

			.js & {
				display: none;
			}
		}
	}
}
