/*
 * Core
 *
 */

$silc-accordion-margin: 0 !default;
$silc-accordion-padding: 0 !default;
$silc-accordion--become-tabs: 800px !default;


 /*
 * Nav
 *
 */
 
$silc-accordion__nav-items-display: flex !default;
$silc-accordion__nav-items-margin: 0 !default;
$silc-accordion__nav-items-padding: 0 !default;

$silc-accordion__nav-link--active-color: inherit !default;
$silc-accordion__nav-link--active-background: inherit !default;

/*
 * Header
 *
 */

$silc-accordion__label-display: block !default;
$silc-accordion__label-border: none !default;
$silc-accordion__label-padding: 0 !default;
$silc-accordion__label-margin: 0 !default;
$silc-accordion__label-background: none !default;
$silc-accordion__label-color: inherit !default;
$silc-accordion__label-text-decoration: none !default;
$silc-accordion__label-text-transform: none !default;
$silc-accordion__label-transform: none !default;
$silc-accordion__label--hover-color:$silc-accordion__label-color !default;
$silc-accordion__label--hover-background:$silc-accordion__label-background !default;
$silc-accordion__label--active-background: inherit !default;
$silc-accordion__label--active-color: inherit !default;


/*
 * Content
 *
 */

$silc-accordion__content-padding: 0 !default;
$silc-accordion__content-border: none !default;
$silc-accordion__content-background: none !default;
