/*
 * Core
 *
 */

 $silk-accordion-margin: 0 !default;
 $silk-accordion-padding: 0 !default;
 $silk-accordion--become-tabs: 800px !default;


 /*
 * Nav
 *
 */
 
$silk-accordion__nav-items-display: flex !default;
$silk-accordion__nav-items-margin: 0 !default;
$silk-accordion__nav-items-padding: 0 !default;

/*
 * Header
 *
 */

$silk-accordion__label-display: block !default;
$silk-accordion__label-border: none !default;
$silk-accordion__label-padding: 0 !default;
$silk-accordion__label-margin: 0 !default;
$silk-accordion__label-background: none !default;
$silk-accordion__label-color: inherit !default;
$silk-accordion__label-text-decoration: none !default;
$silk-accordion__label-text-transform: none !default;
$silk-accordion__label-transform: none !default;
$silk-accordion__label--hover-color: $silk-accordion__label-color !default;
$silk-accordion__label--hover-background: $silk-accordion__label-background !default;


/*
 * Content
 *
 */

 $silk-accordion__content-padding: 0 !default;
 $silk-accordion__content-border: none !default;
 $silk-accordion__content-background: none !default;
